/* Hero */
html,
body {
  background: var(--black) !important;
}

.hero {
  display: grid;
  place-items: center;
  text-align: center;
  background: url(https://source.unsplash.com/o1Bxf1tX9t0/2400x1344) no-repeat
    center center/cover;
  position: relative;
  height: 100vh;
  width: 100%;
  color: var(--white);
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero * {
  z-index: 10;
}

.hero-content h1 {
  color: var(--white);
  font-size: 4rem;
  margin: 1rem 0;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.hero-content small {
  display: block;
  font-size: 1rem;
}

.hero-content #rotating {
  font-size: 1.5rem;
}

.hero-content #rotating .inner-text {
  border: 0px solid #ddd;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

.hero-content #rotating .inner-text span {
  position: relative;
  color: var(--white);
  animation: animation 10s ease infinite;
}

.hero-content #brokerage {
  margin-bottom: 3rem;
}

.hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes animation {
  0%,
  100% {
    top: 0;
  }
  20% {
    top: 0;
  }
  25% {
    top: -50px;
  }
  45% {
    top: -50px;
  }
  50% {
    top: -100px;
  }
  70% {
    top: -100px;
  }
  75% {
    top: -150px;
  }
  95% {
    top: -150px;
  }
}

/* Call to Action */
#cta-background {
  background-image: linear-gradient(
    to bottom,
    var(--white) 40%,
    var(--black) 40%
  ) !important;
  padding: 2rem;
}

.cta-container {
  width: 1200px;
  max-width: 100%;
  margin-inline: auto;
  overflow: hidden;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cta-img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.cta-text {
  width: 100%;
}

.cta-head {
  color: var(--white);
  margin-top: 0.5rem;
}

.cta-head::selection,
.cta-body::selection,
a.cta-btn strong::selection {
  background: var(--white) !important;
  color: var(--black) !important;
}

.cta-body {
  color: var(--white);
  line-height: 1.5;
  margin-top: 0.5rem;
}

a.cta-btn {
  display: inline-block;
  color: var(--white);
  font-size: 1.1rem;
  margin-top: 1rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    var(--white),
    var(--white) 50%,
    #bababa 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.3s ease-in;
}

a.cta-btn:after {
  content: '';
  display: block;
  height: 1px;
  background: var(--white);
  margin-top: 0.25rem;
  width: 0;
  transition: all 0.3s ease-in;
}

a.cta-btn:hover {
  background-position: 0;
}

a.cta-btn:hover:after {
  width: 100%;
}

.arrow {
  color: #bababa;
  height: 20px;
  width: 20px;
  margin-left: 0.25rem;
  padding-top: 0.45rem;
  transition: all 0.3s ease-in;
}

a.cta-btn:hover .arrow {
  color: var(--white);
}

/* About Us */
#about-wrapper {
  background: var(--white);
  color: var(--black);
  position: relative;
  z-index: 0;
}

#about-wrapper .about-container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  padding: 2rem 0;
}

#about-wrapper .team-photo img {
  max-width: 500px;
  margin-right: 4rem;
}

#about-wrapper .about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#about-wrapper .about-text .about-head h2 {
  position: relative;
  font-size: 2rem;
  margin-bottom: 2rem;
}

#about-wrapper .about-text .about-head h2::after {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 2px;
  background: var(--black);
  margin-top: 0.5rem;
}

#about-wrapper .about-text .about-body {
  border-bottom: 1px solid #333;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}

/* Our Neighborhoods */
body.home main.template6,
body.about main.template6 {
  overflow: visible !important;
}

.md-featured-area.template6 .style-container .city-style .mask {
  transition: all 0.3s !important;
}

/* Content Grid */
.media__wrapper {
  padding-block: 2rem;
  background: var(--white);
  text-align: center;
}

.media__title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.card__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  background: var(--bg-image) center center/cover;
  background-size: 120% 100%;
  padding: 6rem 2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-size 750ms;
}

.card:hover,
.card:focus-within {
  background-size: 140% 120%;
}

.card::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  z-index: 0;
  transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover:after,
.card:focus-within:after {
  transform: translateY(-45%);
}

.card__content {
  transform: translateY(275%);
  transition: transform 0.5s;
  position: relative;
  z-index: 1;
  transition: transform 0.5s;
}

.card:hover .card__content,
.card:focus-within .card__content {
  transform: translateY(0);
}

.card__title {
  font-size: 1.25rem;
  color: var(--white);
  position: relative;
}

.card__title:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: var(--white);
  transition: width 0.3s 0.5s, left 0.3s 0.5s;
}

.card:hover .card__title:after,
.card:focus-within .card__title:after {
  width: 100%;
  left: 0;
}

.card__grid .card:nth-child(1) {
  --bg-image: url('https://i.ytimg.com/vi/H3zwbTuz4Cw/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGGUgVShBMA8=&rs=AOn4CLAOrKpUpvj8_03cz3bnwTnFqUpBYQ');
}

.card__grid .card:nth-child(2) {
  --bg-image: url('https://i.ytimg.com/vi/4bqeHzh5m8M/maxresdefault.jpg');
}

.card__grid .card:nth-child(3) {
  --bg-image: url('https://i.ytimg.com/vi/4bqeHzh5m8M/maxresdefault.jpg');
}

.media__wrapper .btn-dark {
  margin-top: 1.5rem;
}

/* Modal */
.modal {
  inset: 0;
  margin: auto;
  padding: 2em;
  max-width: 80ch;
  border: none;
  border-radius: 20px;
  outline: none;
  display: none;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
}

.youtube-player {
  margin-top: 1.5rem;
}

.close-modal {
  font-size: 1.25rem;
  align-self: flex-end;
  cursor: pointer;
  opacity: 60%;
  &:hover {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  #about-wrapper .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem 2rem 3.5rem;
  }

  #about-wrapper .about-text {
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }

  #about-wrapper .team-photo img {
    padding: 0 4rem;
    margin-bottom: 2rem;
    margin: auto;
  }

  #about-wrapper .about-text .about-head h2::after {
    margin-top: 0.5rem;
    margin-left: 3.75rem;
  }
}

@media (max-width: 800px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content #rotating {
    font-size: 1.25rem;
  }

  #cta-background {
    padding: 2rem 0.75rem;
    background-image: none !important;
    background-color: var(--black);
  }

  .cta-container {
    flex-direction: column;
    width: 100%;
  }
}
