@import url('reset.css');
@import url('footer.css');
@import url('emailSignup.css');
@import url('workWithUs.css');

/* Utility Classes */
.container {
  height: 100%;
  width: min(1200px, 100% - 4rem);
  margin-inline: auto;
  overflow-x: hidden;
}
